<h1>Product Info</h1>
{{#each product}}
<li>
      ID: {{id}}
      <p>Nombre: {{name}} </p>
      <p>Description: {{description}} </p>
      <p>$ {{price}} </p>
</li>
{{/each}}

<a href="/homepage" >Return</a>

<br>
<br>
<form action="show" method="post">
  
  <button type="submit" name="submit" value={{id}}>Delete</button>
</form>
